name: Test, lint, publish

on:
  push:
    branches:
      - "master"
      - "feature/**"
      - "hotfix/**"
      - "bugfix/**"
    tags:
      - v*

jobs:
  main-job:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo $secrets.STUPID_SECRET

  just-stupid-tag-debug:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - continue-on-error: true
        run: |
          echo ${GITHUB_REF_NAME/v/}
